.venv/
__pycache__/
.pytest_cache/
*.pyc
Desafio 4 - Quanto Rende Este Hectare/whatsapp/.env
Desafio 4 - Quanto Rende Este Hectare/whatsapp/qrcode.png
Desafio 4 - Quanto Rende Este Hectare/data/
Desafio 2 - Invasores do Pampa/data/
